</head>

<body>
    <nav class="flex justify-between items-center bg-gray-900 text-white p-5">
        <h1 class="text-2xl font-bold">Welcome to Airbnb</h1>
        <div class="flex space-x-6">
            <a href='/host/add-home' class="<%= (pageTitle === 'form page') ? 'text-yellow-400' : '' %>" >Add Home</a>
            <a href='/' class="<%= (pageTitle === 'index') ? 'text-yellow-400' : '' %>">Airbnb</a>
            <a href='/homes' class="<%= (pageTitle === 'home-list') ? 'text-yellow-400' : '' %>">Home-list</a>
            <a href='/bookings' class="<%= (pageTitle === 'bookings') ? 'text-yellow-400' : '' %>">Bookings</a>
        </div>
    </nav>