<%- include("../partials/head") %>
<%- include("../partials/nav") %>
    <h1 class="mx-auto text-[60px] font-bold w-fit m-10">This is my booking page</h1>

<%- include("../partials/footer") %>
</body>
</html>


