<%- include("../partials/head") %>

    <%- include("../partials/nav") %>
        <div class=" mt-8">

            <a href='/host/add-home' class="border border-black p-2 rounded-2xl hover:text-yellow-400 transition">Add
                Home</a>
            <h1 class="m-10 text-lg font-bold">Home Details:</h1>
        </div>
        <div>
            <%=homeId%> is my home id
        </div>
        <%- include("../partials/footer") %>

            </body>

            </html>