<%- include("partials/head") %>

<%- include("partials/head2") %>
 
    <h1 class="bg-amber-600 text-gray-900 text-2xl">
        Home added successfully!
    </h1>
    <a href="/" class="text-amber-400 hover:text-amber-300 underline text-lg">
        Go to Home
    </a>

      

</body>

</html>